.cast {
	display: inline-block;
	width: 100%;
	border-style: none solid none solid;
	border-color: $text-color;
	border-width: 2px;
	vertical-align: middle;
	padding: 0 2 0 2;

	h4, h5 {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}

.cast:hover {
	background-color: $hover-color;
}

.capitalize {
	text-transform: capitalize;
}
