<!-- Main Header -->
<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div id="inner-header" class="wrap container cf">
        <!-- Title -->
        <a href="#/home"><h2>Cast-Central-Web</h2></a>

        <!-- Navigation -->
        <nav role="navigation" class="main-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="menu cf">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/chromecast">Chromecast</a></li>
                <li><a href="#/roku">Roku</a></li>
                <li><a href="#/other">Other</a></li>
            </ul>
        </nav>
    </div>
</header>
