/******************************************************************

1030px and up

******************************************************************/

.container {
  width: 1040px;
  margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

#inner-header {
	width: 1000px;
}

.main-nav {
	display: block;
}
